# direnv file
# See https://direnv.net/man/direnv-stdlib.1.html

# Activate the virtualenv
# This simply replicates what venv/bin/activate does.
export VIRTUAL_ENV=venv
PATH_add "$VIRTUAL_ENV/bin"

# Set environment variables from .env
dotenv
